#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

#state{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}